.footer {
  display: flex;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #08d9d6;
  justify-content: space-between;
  font-size: 16px;
  
}

.img {
  height: 30px;
  width: 30px;
  padding-right: 15px;
  padding-top: 20px;
}

.img:hover {
  transform: scale(1.02);
}

.p {
  padding-top: 10px;
  padding-left: 15px;
}
